.sidebar {
    position: sticky;
    top: 0;
    z-index: 10;
    height: fit-content;
    margin-left: 35px;
    padding-top: 80px;
}
.page {
    list-style: none;
    margin-bottom: 8px;
    a {
        font-size: 20px;
        color: #aaa7a8;
        text-decoration: none;
    }
}

.activePage {
    a {
        color: white;
    }
}
