.sidebarLayer{
    height: 100px;
    width: 90px;
    margin-left: 35px;
}
//if there will be longer words in sidebar - change .sidebarLayer width
.sidebar {
    position: fixed;
    top: 100px;
    z-index: 10;
}

.page {
    list-style: none;
    margin-bottom: 8px;
    a {
        font-size: 20px;
        color: #aaa7a8;
        text-decoration: none;
    }
}

.activePage {
    a {
        color: white;
    }
}
